body{
    background-color: rgb(177, 223, 201);
}
nav{
    text-align: right;  
 }
 h2{
     text-align: center;
 }
 a{
     padding-right: 1cm;
     text-decoration: none;
     color: black;  
 }
 form{
     font-size: 30px;
     margin-left: 6cm;
 }
 .container{
     float: left;
    
     
 }
 .cont{
     border: solid black;
     margin: 1cm 4cm 0cm 4cm;
     padding-top: 0.5cm;
 }