body{
    background-color: rgb(190, 209, 200);
    margin: 0%;
    border: solid 45px gray;
}
nav{
    /* background-color: red; */
    width: 40%;
    margin-left: 40%;  
    margin-top: 2% ;
}
.navigation{
    display: flex;
    margin-top: 1%;
}
a{
    /* padding-right: 1cm; */
    text-decoration: none;
    margin-right: 5%;
    color: rgb(15, 15, 15);  
    font-size: 20px;
    background-color: rgb(184, 184, 219);
    padding: 0.5% 7%;
}
/* h1{
    margin-left: 1cm;
} */
.container{
    margin-left: 300px;
    background-color: rgb(22, 85, 156);
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}
.texts{
    text-align: center;
    /* margin-bottom: 1cm; */
}
.logo{
    color: rgb(10, 9, 110);
}
.logo::before{
    content: '';
    background-color: red;
   
}
   
/* button{
    font-size: large;
    background-color: gray;
    
} */